/* 載入字型 */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional");

/*移除瀏覽器預設*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f6f7f8;
  font-family: "Noto Sans TC", sans-serif;
  /* 設定字型 */
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 0.9;
}

p {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  /* 拿掉前方圈圈 */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /* 拿掉底線 */
}

/*基本樣式設定*/
/*設定區塊寬度一致並置中*/
.container {
  width: 85%;
  margin: 0 auto 3rem auto;
}

.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*********Main Header*********/

header {
  /*positioning*/
  position: fixed;
  z-index: 999;
  /*content*/
  width: 100%;
  height: 60px;
  text-align: start;
  padding: 0 2rem;
  background: #ffffff;
  /*note:陰影*/
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  /*content*/
  color: #267b98;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 60px;
}

/*********Album*********/
#album{
  /*block*/
  padding-top: 60px;
}

.album-wrapper {
  /*position*/
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-template-rows: repeat(auto, auto);
  grid-gap: 0.5rem;
  padding-top: 1rem;
  /*block*/
  justify-content: space-around;
  width: 100%;
}

.card {
  /*position*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 30px;
  grid-gap: 1rem;
  /*block*/
  padding: 1rem;
  justify-content: space-between;
  justify-items: center;
  /*content*/
  text-align: center;
  width: 100%;
  /*animation*/
  transition: background-color 0.3s ease-out;
  /*陰影*/
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  }

.card-img {
  /*content*/
  width: 100%;
  height: 100%;
}

.card-text {
  /*content*/
  color: #267b98;
  /*animation*/
  transition: color 0.3s ease-out;
}

.card:hover .card-text{
  /*content*/
  color:#D26900;
}

.card:hover{
  /*content*/
  background-color: #FFEEDD;
}


/*********Footer*********/
footer {
  /*block*/
  text-align: center;
  padding: 0.5rem;
  /*content*/
  width: 100%;
  background: #267b98;
  color: white;
  letter-spacing: 2px;
}

.designer-info {
  padding-top: 0.5rem;
  font-size: small;
  font-weight: 100;
}

/*********電腦版*********/
@media screen and (min-width: 768px){
  
  /**===Album===**/
  .album-wrapper {
    /*position*/
    grid-template-columns: repeat(auto-fit, 200px);
  }

.card {
  /*position*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 40px;
}